@model IEnumerable<HumanAid.Models.VoluntarioSanitario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTrabajosRealizados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voluntario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTrabajosRealizados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voluntario.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoluntarioSanitarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoluntarioSanitarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoluntarioSanitarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
