@model IEnumerable<HumanAid.Models.Gastos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <label for="SedeId">Filtrar por sede:</label>
    <select id="SedeId" name="SedeId" class="form-control">
        <option value="">Todas las sedes</option>
        @foreach (var sede in ViewBag.Sedes as IEnumerable<HumanAid.Models.Sede>)
        {
            <option value="@sede.SedeId">@sede.Nombre</option>
        }
    </select>
    <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaGasto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdGastos">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdGastos">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdGastos">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
