@model IEnumerable<HumanAid.Models.TipoCuota>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["SuccessMessage"] != null)
{
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

@if (TempData["ErrorMessage"] != null)
{
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoCuotaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoCuotaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TipoCuotaId">Delete</a> |
                    <a asp-action="AsignarSocios" asp-route-id="@item.TipoCuotaId" class="btn btn-primary btn-sm ms-3">Asignar Socio</a>
            </td>
        </tr>
}
    </tbody>
</table>
