@model IEnumerable<HumanAid.Models.Socio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaBancaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaBancaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCuota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SocioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SocioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SocioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
